body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: rgb(199, 132, 32);
    margin: 0;
    padding: 0;
}

h1 {
    color: brown;
    text-align: center;
    margin: 30px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(47, 17, 155);
    background-color: #b6b0ac;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgb(83, 11, 68);
   
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #460ec7;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(184, 20, 20);
    color: #ced9dd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
